Source: jolicloud-netbook-config
Section: jolicloud/misc
Priority: optional
Maintainer: Adam McDaniel <adam@jolicloud.org>
Standards-Version: 3.6.1.0

Package: jolicloud-netbook-config
Architecture: all
Depends: dmidecode, perl, acpi
Recommends: linux-image-jolicloud | linux-image-jolicloud-atom
Conflicts: eee-osd
Provides: eee-osd
Replaces: eee-osd, eeepc-config
Description: Jolicloud Netbook configuration
 This package provides automatic configuration of your Jolicloud Linux
 system for various netbooks. Kernel module configuration takes place
 at boot. 
