Source: jolicloud-netbook-config
Section: jolicloud/misc
Priority: optional
Maintainer: Adam McDaniel <adam@jolicloud.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.0
Vcs-Git: git://github.com/jolicloud/jolicloud-netbook-config.git
Vcs-Browser: https://github.com/jolicloud/jolicloud-netbook-config

Package: jolicloud-netbook-config
Architecture: all
Depends: dmidecode, perl, acpi, upstart (>= 0.6.3-6)
Recommends: linux-image-jolicloud | linux-image-jolicloud-atom
Conflicts: eee-osd
Provides: eee-osd
Replaces: eee-osd, eeepc-config, poulsbo-config
Description: Jolicloud Netbook configuration
 This package provides automatic configuration of your Jolicloud Linux
 system for various netbooks. Kernel module configuration takes place
 at boot. 
