#!/usr/bin/make -f

install_dir=install -d -m 755
install_file=install -m 644
install_script=install -m 755
install_binary=install -m 755 -s

DEBVERSION := $(shell dpkg-parsechangelog | grep ^Version: | cut -d' ' -f2)

build:

clean:
	$(checkdir)
	-rm -f  *~ */*~ debian/files* debian/*substvars
	-rm -rf debian/tmp

binary-indep: checkroot
	$(checkdir)
	-rm -rf debian/tmp

	$(install_dir) debian/tmp/DEBIAN/
	$(install_file) debian/conffiles debian/tmp/DEBIAN/
	$(install_script) debian/postinst debian/tmp/DEBIAN/
	$(install_script) debian/postrm debian/tmp/DEBIAN/

	$(install_dir) debian/tmp/etc/acpi/ac.d/
	$(install_dir) debian/tmp/etc/acpi/battery.d/
	$(install_script) etc/acpi/ac.d/* debian/tmp/etc/acpi/ac.d
	$(install_script) etc/acpi/battery.d/* debian/tmp/etc/acpi/battery.d
	$(install_dir) debian/tmp/etc/default/
	$(install_file) etc/default/* debian/tmp/etc/default/
	$(install_dir) debian/tmp/etc/init.d/
	$(install_script) etc/init.d/* debian/tmp/etc/init.d/
	$(install_dir) debian/tmp/etc/hal/fdi/policy/
	$(install_file) etc/hal/fdi/policy/* debian/tmp/etc/hal/fdi/policy/
	$(install_dir) debian/tmp/etc/jolicloud-netbook-config.d/
	$(install_file) etc/jolicloud-netbook-config.d/* debian/tmp/etc/jolicloud-netbook-config.d/
	chmod 755 debian/tmp/etc/jolicloud-netbook-config.d/*.sh
	$(install_dir) debian/tmp/etc/modprobe.d/
	$(install_script) etc/modprobe.d/* debian/tmp/etc/modprobe.d/

	$(install_dir) debian/tmp/usr/bin/
	$(install_script) usr/bin/* debian/tmp/usr/bin/

	$(install_dir) debian/tmp/usr/lib/jolicloud-netbook-config/
	$(install_file) usr/lib/jolicloud-netbook-config/* debian/tmp/usr/lib/jolicloud-netbook-config/
	chmod 755 debian/tmp/usr/lib/jolicloud-netbook-config/*.pl
	chmod 755 debian/tmp/usr/lib/jolicloud-netbook-config/*.py

	$(install_dir) debian/tmp/usr/share/doc/jolicloud-netbook-config/
	$(install_file) debian/changelog debian/tmp/usr/share/doc/jolicloud-netbook-config/changelog.Debian
	gzip -9v debian/tmp/usr/share/doc/jolicloud-netbook-config/*
	$(install_file) debian/copyright debian/tmp/usr/share/doc/jolicloud-netbook-config/
	$(install_file) usr/share/doc/jolicloud-netbook-config/* debian/tmp/usr/share/doc/jolicloud-netbook-config/

	dpkg-gencontrol -pjolicloud-netbook-config

	chown -R root:root debian/tmp
	chmod -R go=rX debian/tmp
	dpkg --build debian/tmp ..

binary-arch:

define checkdir
	test -f debian/rules
endef

# Below here is fairly generic really

binary: binary-indep binary-arch

checkroot:
	$(checkdir)
	test root = "`whoami`"

.PHONY: binary binary-arch binary-indep clean checkroot
